n8n-ia-robusta.json
{
  "name": "NavalhIA — Uazapi + Product API (produção)",
  "nodes": [
    {
      "parameters": {
        "content": "## NavalhIA — Produção (Uazapi + Supabase + API)\n\n**Fluxo:** API NavalhIA (`/api/webhooks/uazapi`) → fila `ai_jobs` → **ai-worker** faz POST neste webhook (`N8N_CHAT_TRIGGER_URL`) com `{ text, from, sessionId, conversationId, barbershopId }`. Respostas são enviadas ao WhatsApp pela **API via Uazapi** (token no Supabase) — **não** use Evolution nem Postgres local aqui.\n\n**Configuração**\n1. Importe o workflow, ative, copie a **Production URL** do nó *Webhook API (Uazapi)*.\n2. No backend (Lambda/env): `NATIVE_AI_DISABLED=true`, `N8N_CHAT_TRIGGER_URL=<URL copiada>`, opcional `N8N_CHAT_TIMEOUT_MS=120000`.\n3. **Product API** já está nas tools com header `X-API-Key` (key do painel Integrações). Tenant vem da key — não envie `barbershop_id`.\n4. **Modelo (Gemini):** credencial Google no n8n.\n\n**Supabase:** conversas e mensagens ficam na base da API; **não** é necessário credencial Postgres no n8n para este fluxo.\n\n**Postgres só no n8n:** use apenas se quiser logs/analytics em DB separado (credenciais: host na Supabase *Settings → Database* ou RDS; string em *Credentials → Postgres*).",
        "height": 820,
        "width": 460,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -700,
        -120
      ],
      "typeVersion": 1,
      "id": "bda54dfa-ec13-4bd1-ba56-0f1a0ee47f78",
      "name": "Instruções — produção"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "navalhia-uazapi-4fc446d2",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -380,
        280
      ],
      "id": "9e553629-e53c-44c2-bc0c-d00adf6dabca",
      "name": "Webhook API (Uazapi)",
      "webhookId": "b49c73cc-6da2-4854-a9d2-b99e55141787"
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "bf2243ee-16dc-498d-97fb-4b23d56f11ca",
              "name": "text",
              "value": "={{ $json.body.text }}",
              "type": "string"
            },
            {
              "id": "b98161cd-3b3f-41f5-a5b7-031bc860029e",
              "name": "sessionId",
              "value": "={{ $json.body.sessionId }}",
              "type": "string"
            },
            {
              "id": "a105ca64-c537-414a-be93-59f51ed3693c",
              "name": "from",
              "value": "={{ $json.body.from }}",
              "type": "string"
            },
            {
              "id": "4f0f40bd-8b36-42af-b1dd-11ac3b8b2341",
              "name": "conversationId",
              "value": "={{ $json.body.conversationId }}",
              "type": "string"
            },
            {
              "id": "3d8d3999-059f-4b7e-a416-6df4885451f3",
              "name": "barbershopId",
              "value": "={{ $json.body.barbershopId }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        -80,
        280
      ],
      "id": "b39d13ee-57a2-43ce-a592-b429cfcbebe6",
      "name": "Preparar entrada"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.text }}",
        "options": {
          "systemMessage": "=# NavalhIA — Atendimento (Product API)\n\n**Contexto**\n- Hora no servidor n8n: {{ $now.format('yyyy-MM-dd HH:mm') }} (alinhe agendamentos a **America/Sao_Paulo**).\n- Telefone do contato (API): {{ $json.from }} — use **apenas dígitos** em upsert_client.\n\n**Papel**\nAtendente da barbearia no WhatsApp. Mensagens curtas; sem emoji salvo se o cliente usar primeiro. Negrito: *texto*.\n\n**Objetivo**\nAgendamento confirmado via tools. Não invente preços, serviços ou horários.\n\n**Ferramentas**\n- list_services, list_barbers, list_appointments (date=yyyy-MM-dd), upsert_client, create_appointment\n\n**Regras**\n- Não peça telefone para identificar: use o número do contexto nas tools.\n- Não mostre UUID ao cliente.\n- Combo costuma ser category=combo.\n- Confirme antes de create_appointment."
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 1.7,
      "position": [
        220,
        280
      ],
      "id": "73462b20-1e22-46d4-abf1-8c23695dbb45",
      "name": "Agente NavalhIA",
      "retryOnFail": true,
      "maxTries": 2,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        220,
        520
      ],
      "id": "40fce597-2856-434c-b553-6d90d16b561e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        40,
        520
      ],
      "id": "216fa5f0-2fc9-4b32-a169-758c56fb3405",
      "name": "Google Gemini Chat Model"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.stringify({ output: $json.output }) }}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.4,
      "position": [
        520,
        280
      ],
      "id": "e9f58610-5ecf-427c-8a7e-4055ca4b6459",
      "name": "Responder JSON (API)"
    },
    {
      "parameters": {
        "toolDescription": "Lista serviços (nome, preço, duração, category).",
        "url": "https://api.navalhia.com.br/api/tools/list_services",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "bfk_75ab4029-3c67-4844-93f2-edbeaf3af70b_k6dekrh5"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        520,
        120
      ],
      "id": "d8a657e2-ddaa-4bf9-8057-fd40c3790adc",
      "name": "NavalhIA — listar serviços"
    },
    {
      "parameters": {
        "toolDescription": "Lista barbeiros.",
        "url": "https://api.navalhia.com.br/api/tools/list_barbers",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "bfk_75ab4029-3c67-4844-93f2-edbeaf3af70b_k6dekrh5"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        520,
        280
      ],
      "id": "e667c79a-625d-4f44-b6a4-bae245c33052",
      "name": "NavalhIA — listar barbeiros"
    },
    {
      "parameters": {
        "toolDescription": "Lista agendamentos por data (yyyy-MM-dd).",
        "url": "https://api.navalhia.com.br/api/tools/list_appointments",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "date",
              "value": "={{ $fromAI('parameters0_Value', 'Data yyyy-MM-dd', 'string') }}"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "bfk_75ab4029-3c67-4844-93f2-edbeaf3af70b_k6dekrh5"
            },
            {
              "name": "Accept",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        520,
        440
      ],
      "id": "bac1d0df-3e0e-43b3-a195-158578c8cbce",
      "name": "NavalhIA — listar agendamentos"
    },
    {
      "parameters": {
        "toolDescription": "Cria/atualiza cliente por telefone (só dígitos).",
        "method": "POST",
        "url": "https://api.navalhia.com.br/api/tools/upsert_client",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "bfk_75ab4029-3c67-4844-93f2-edbeaf3af70b_k6dekrh5"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "phone",
              "value": "={{ $fromAI('parameters0_Value', 'Telefone', 'string') }}"
            },
            {
              "name": "name",
              "value": "={{ $fromAI('parameters1_Value', 'Nome', 'string') }}"
            },
            {
              "name": "notes",
              "value": "={{ $fromAI('parameters2_Value', 'Obs', 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        520,
        600
      ],
      "id": "303f7953-71e1-4355-b307-b7fcbe38b060",
      "name": "NavalhIA — upsert cliente"
    },
    {
      "parameters": {
        "toolDescription": "Cria agendamento após confirmação.",
        "method": "POST",
        "url": "https://api.navalhia.com.br/api/tools/create_appointment",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "X-API-Key",
              "value": "bfk_75ab4029-3c67-4844-93f2-edbeaf3af70b_k6dekrh5"
            },
            {
              "name": "Accept",
              "value": "application/json"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "client_id",
              "value": "={{ $fromAI('parameters0_Value', 'client UUID', 'string') }}"
            },
            {
              "name": "barber_id",
              "value": "={{ $fromAI('parameters1_Value', 'barber UUID', 'string') }}"
            },
            {
              "name": "service_id",
              "value": "={{ $fromAI('parameters2_Value', 'service UUID', 'string') }}"
            },
            {
              "name": "date",
              "value": "={{ $fromAI('parameters3_Value', 'yyyy-MM-dd', 'string') }}"
            },
            {
              "name": "time",
              "value": "={{ $fromAI('parameters4_Value', 'HH:mm', 'string') }}"
            },
            {
              "name": "notes",
              "value": "={{ $fromAI('parameters5_Value', 'notes', 'string') }}"
            },
            {
              "name": "client_phone",
              "value": "={{ $fromAI('parameters6_Value', 'phone', 'string') }}"
            },
            {
              "name": "client_name",
              "value": "={{ $fromAI('parameters7_Value', 'name', 'string') }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequestTool",
      "typeVersion": 4.3,
      "position": [
        520,
        760
      ],
      "id": "d3af2462-d3ca-45a3-8069-eb7d6ceab85d",
      "name": "NavalhIA — criar agendamento"
    }
  ],
  "connections": {
    "Webhook API (Uazapi)": {
      "main": [
        [
          {
            "node": "Preparar entrada",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Preparar entrada": {
      "main": [
        [
          {
            "node": "Agente NavalhIA",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Agente NavalhIA": {
      "main": [
        [
          {
            "node": "Responder JSON (API)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "Agente NavalhIA",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "Agente NavalhIA",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "NavalhIA — listar serviços": {
      "ai_tool": [
        [
          {
            "node": "Agente NavalhIA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "NavalhIA — listar barbeiros": {
      "ai_tool": [
        [
          {
            "node": "Agente NavalhIA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "NavalhIA — listar agendamentos": {
      "ai_tool": [
        [
          {
            "node": "Agente NavalhIA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "NavalhIA — upsert cliente": {
      "ai_tool": [
        [
          {
            "node": "Agente NavalhIA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "NavalhIA — criar agendamento": {
      "ai_tool": [
        [
          {
            "node": "Agente NavalhIA",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "meta": {
    "templateCredsSetupCompleted": false
  },
  "tags": [
    {
      "name": "NavalhIA",
      "id": "fb74771c-91b7-4502-8f7c-3a13d993af6c"
    }
  ]
}
